/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@font-face{ font-family: 'Krona One', sans-serif;}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face{font-family: 'Roboto Mono', monospace;}

/*geral*/
body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em; 
}
.principal{
    background-color: rgb(14, 14, 14);
    width: 80%;
    margin: auto;
    border-top: 1px solid transparent;
}
h1{
    font-family: 'krona one', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}
h2{
    font-family: 'krona one', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
p{
    text-indent: 10%;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/*grid*/
.grid{
    overflow: auto;
    background-color: rgb(14, 14, 14);
    position: relative;
}
.col-2-3{
    background-color: white;
    width: 63.5%;
    float: left;
    margin: 2% 0.5% 1% 2%;
}
.col-1-3{
    width: 31%;
    float: right;
    margin: 2% 2% 2% 0.5%;
}
.row-1{
    background-color: white;
    position: absolute;
    margin: 0 2% 2% 0;
}
.row-2{
    background-color: white;
    position: absolute;
    bottom: 0;
    margin: 1% 2% 1% 0;
}

/*imagens*/
.imagem-esquerda{
    float: left;
    margin: 0 0.8em 0 0;
    border-radius: 2%;
    max-width: 100%;
}

/*botão*/
.botao-ver-mais{
    background-color: rgb(29, 197, 29);
    border: 3px solid rgb(29, 197, 29);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.3em 0.8em;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    letter-spacing: 0.1em;
    margin: 2% 42.5% 0 42.5%;
    cursor: pointer;
    transition: all 0.7s;
}
.botao-ver-mais:hover{
    background-color: rgb(14, 112, 14);
    border-color: rgb(14, 112, 14);
    color: white;
    outline: none;
}


/*Menu*/
.menu ul{
    text-align: right;
    margin: 3.5em 2% 1.5em 0;
}
.menu li{
    display: inline-block;
}   
.menu a{
    font-family: 'krona one' ,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    letter-spacing: 0.07em;
    transition: color 0.7s linear;
}
.menu a:hover{
    color: rgb(14, 112, 14);
}
.logo-menu{
    position: relative;
    right: 20%;
    color: ivory;
}


/*corpo*/
.principal{
    box-shadow: 2px 3px 5px black;
}
.corpo{
    border-top: 2px solid rgb(219, 219, 219);
    line-height: 1.4;
    margin-bottom: 2%;
}
.corpo a{
    color: rgb(0, 0, 0);
    transition: all 0.5s linear;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.corpo a:hover{
    text-decoration: none;
    color: rgb(14, 112, 14);
    border-color: transparent;
}

.noticia{
    padding: 15px;
}
.noticia iframe{
    width: 100%;
}

#ver-mais{
    display: none;
}
/*rodapé*/
.rodape{
    border-top: 2px solid rgb(219, 219, 219);
    padding: 15px;
}
.rodape p{
    color: white;
    font-family: 'krona one', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-left: 36%;
}
.rodape-icones{
    list-style: none;
    margin-left: 40%;
}
.rodape-icones li{
    display: inline-block;
}
.rodape-icones a{
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    transition: color 0.7s;
}
.rodape-icones a:hover{
    color: rgb(29, 197, 29);
}

/*banner*/

.lateral-esquerda img{
    width: 10%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;

}




/*quem somos*/
.quem-somos{
    padding: 5%;
    color: white;
}
.quem-somos p{
    color: rgb(236, 236, 236);
}
.foto-quem-somos{
    margin-top: 30px;
    position: relative;
    left: 15%;
}
img{
    max-width: 100%;
}
.foto-quem-somos img{
    border: 2px white solid;
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}
.foto-quem-somos figcaption{
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    width: 71%;
    height: 99%;
    transition: opacity 1s;
}
.foto-quem-somos figcaption:hover{
    opacity: 1;
}
.foto-quem-somos figcaption p{
    font-size: 1.4em;
    font-weight: 800;
    position: absolute;
    top: 30%;
    right: 68%;
}


/*Contato*/
.formulario{
    color: white;
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.texto-contato{
    color: white;
    position: relative;
    left: 7%;
    margin-top: 30px;
}
.texto-contato p{
    text-indent: 5%;
}
.formulario label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
.formulario input, .formulario textarea{
    border-radius: 5px;
}
.formulario input:focus, .formulario textarea:focus{
    background-color: rgb(230, 230, 230);
}
#nomeUsuario, #emailUsuario, #textoUsuario{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid white;
    resize: none;
    outline: none;
}
#nomeUsuario:focus, #emailUsuario:focus, #textoUsuario:focus{
    border: 2px solid rgb(14, 112, 14);
}
